__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.vscode/
*.log
*.egg-info/
*.bak
*.py.bak

# test database
Routing_Api/db.sqlite3

# User-specific files
*.suo
*.user
.venv
venv
.vs
.temp

# Python enviroments
env/
Routing_Api/Routing_Api/Routing_Api/Mobis/lib/
.idea/

routing/test_profile_stats_dump.txt
routing/test_profile_graph.png
routing/test_profile_stats_cumtime.txt
routing/test_profile_graph.dot
routing/test_profile_stats_tottime.txt
routing/.coverage
database