Django
django-health-check
djangorestframework
django-dbconn-retry
django-debug-toolbar
setuptools
networkx
python-dateutil
shapely
gunicorn
pyproj
pyyaml
pika
raven
numpy
gevent
celery
coverage
pytest-cov
requests
ortools
osmnx
psycopg2-binary